@model Order
@{
   double totalPrice = 500;
   foreach (var item in Model.OrdersItems)
   {
     totalPrice += (item.Quantity*item.Price);
   } 
}

<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
          <div class="card-body p-5">

            <p class="lead fw-bold mb-5" style="color: #f37a27;">Order details</p>

            <div class="row">
              <div class="col mb-3">
                <p class="small text-muted mb-1">Date</p>
                <p>@Model.ProdcutUpload</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Order No.</p>
                <p>@Model.Id</p>
              </div>
             </<div>

            <div class="row"> 
              <div class="col mb-3">
                <p class="small text-muted mb-1">Card number</p>
                <p>@Model.cardNumber</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Card cvv</p>
                <p>@Model.cvv</p>
              </div>
               <div class="col mb-3">
                <p class="small text-muted mb-1">Card exp. date</p>
                <p>@Model.expdate</p>
              </div>
            </div>
            <div class="row"> 
              <div class="col mb-3">
                <p class="small text-muted mb-1">order address</p>
                <p>@Model.address</p>
              </div>
            </div>
            <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                @foreach(var item in Model.OrdersItems)
                {
                <div class="row">
                    <div class="col-md-8 col-lg-6">
                        <p>@item.Name</p>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <p>R @item.Price x (@item.Quantity)</p>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <p>R @(item.Price*item.Quantity)</p>
                    </div>
                </div>

                }
              
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <p class="mb-0">Shipping</p>
                </div>
                <div class="col-md-4 col-lg-3">
                  <p class="mb-0">R 500.00</p>
                </div>
              </div>
            </div>

            <div class="row my-4">
              <div class="col-md-4 offset-md-4 col-lg-9 offset-lg-8">
                <p class="lead fw-bold mb-0" style="color: #f37a27;">Total: R @totalPrice</p>
              </div>
              <p class="lead fw-bold mb-4 pb-2" style="color: #f37a27;">Tracking Order</p>

            <div class="row">
              <div class="col-lg-12">

                <div class="horizontal-timeline">

                  <ul class="list-inline items d-flex justify-content-between">
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">order placed</p
                        class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">
                    </li>
                  </ul>
                  <ul class="list-inline items d-flex justify-content-between">
                    <li class="list-inline-item items-list">
                      <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Delivery time: @(DateOnly.FromDateTime(Model.ProdcutUpload.AddDays(10))) - @(DateOnly.FromDateTime(Model.ProdcutUpload.AddDays(15)))</p
                        class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">
                    </li>
                  </ul>
                </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>